env/
.env
unsloth_compiled_cache/
wandb/
grpo_trainer_lora_model/
outputs/
grpo_saved_lora/
llama-3.1-8b-grpo-4bit-merged/
qwen2.5-3b-4bit-merged/
llama-3.1-8b-4bit-merged/
outputs/
llama-3.1-8b-grpo-10500-merged/
summarization-evals/
llama-3.1-8b-grpo-19500-merged/
llama-3.1-8b-grpo-33000-merged/
Qwen2-0.5B-GRPO-checkpoints/
grpo-summarization-evals/
Qwen2-0.5B-summarize-SFT-2025-03-17/